<section class="h-[500px] lg:h-[500px] bg-cover bg-center w-full" style="background-image:url({{ data.banner.image }})">
<div class="container h-full flex flex-col justify-center">
<div class="grid lg:grid-cols-6 gap-4">
<div class="lg:col-span-4">
<div data-aos-delay="100" data-aos="fade-up">
<h1 class="lg:text-5xl text-3xl lg:leading-[50px] font-bold font-poppins text-white mb-4">{{ data.banner.title }}</h1>
<p class="text-[16px] lg:text-[18px] lg:leading-8 text-white mb-6">{{ data.banner.description }}</p>
</div>
<div data-aos-delay="300" data-aos="fade-up">
<a href="#services" class="btn !px-8">Nos services</a>
</div>
</div>
</div>
</div>
</section>