{% extends "/construction/base.twig" %}

{% block content %}

<section class="flex flex-col items-center pt-5 text-center px-3">

<div><img src="{{theme.link}}/logo.png" alt="Magiclean"></div>

<h1 class="text-3xl font-poppins text-primary font-bold	mb-2">Site en cours de construction</h1>

<p>Notre site est actuellement en cours de construction. Il sera trés bientôt disponible.<p>

</section>
	
{% endblock %}